@use "govuk-frontend" as *;

.app-location-input {
  @include govuk-clearfix;
  margin-bottom: govuk-spacing(6);
  display: flex;
  flex-wrap: nowrap;
  gap: govuk-spacing(4);

  @include govuk-media-query($until: tablet) {
    flex-wrap: wrap;
  }
}

.govuk-fieldset.govuk-form-group--error {
  .app-location-input {
    border-left: $govuk-border-width-form-group-error solid $govuk-error-colour;
    padding-left: govuk-spacing(3);
    margin-top: 0;
  }

  .govuk-fieldset__legend {
    border-left: $govuk-border-width-form-group-error solid $govuk-error-colour;
    padding-left: govuk-spacing(3);
    margin-bottom: 0;
  }

  .govuk-hint {
    border-left: $govuk-border-width-form-group-error solid $govuk-error-colour;
    padding-left: govuk-spacing(3);
    margin-bottom: 0;
  }
}

.app-location-input__item {
  flex: 1 1 0;
  min-width: 0;

  @include govuk-media-query($until: tablet) {
    flex: 1 1 100%; // Full width on mobile
  }

  .govuk-form-group,
  .govuk-form-group--error {
    margin-bottom: 0;
    display: block;
    border: 0;
    padding: 0;
  }

  .govuk-label {
    display: block;
    font-size: 1rem;
  }

  .govuk-input {
    margin-bottom: 0;
    width: auto;
  }

  .govuk-input--error {
    border: 2px solid $govuk-border-colour;
  }

  .govuk-error-message {
    display: block;
    margin-bottom: govuk-spacing(1);
    font-size: 1rem;
    white-space: normal;
    word-wrap: break-word;
  }
}
