@use "govuk-frontend" as *;

.govuk-form-group--error {
  .govuk-fieldset {
    .govuk-fieldset__legend {
      padding-left: 0;
      margin-bottom: 0;
    }

    .govuk-hint {
      padding-left: 0;
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  .govuk-fieldset > .govuk-grid-row {
    margin-top: govuk-spacing(1);
  }

  .govuk-fieldset > .govuk-grid-row .govuk-grid-column-two-thirds {
    padding-left: govuk-spacing(3);
  }
}

.govuk-grid-column-one-half {
  .govuk-form-group,
  .govuk-form-group--error {
    margin-bottom: 0;
  }
}
