@use "govuk-frontend" as *;

.govuk-fieldset__legend {
  &.govuk-fieldset__legend--m {
    margin-bottom: govuk-spacing(3);
  }
}

.govuk-hint + .app-location-input {
  margin-top: govuk-spacing(3);
}

.app-location-input {
  @include govuk-clearfix;
  margin-bottom: govuk-spacing(6);
  display: flex;
  flex-wrap: nowrap;
  gap: govuk-spacing(4);

  // Wrap items on tablet and below to prevent bleeding when error messages are present
  @include govuk-media-query($until: desktop) {
    flex-wrap: wrap;
  }
}

.govuk-fieldset.govuk-form-group--error {
  .app-location-input {
    border-left: $govuk-border-width-form-group-error solid $govuk-error-colour;
    padding-left: govuk-spacing(3);
    margin-top: 0;
  }

  .govuk-fieldset__legend {
    border-left: $govuk-border-width-form-group-error solid $govuk-error-colour;
    padding-left: govuk-spacing(3);
    margin-bottom: 0;
  }

  .govuk-hint {
    border-left: $govuk-border-width-form-group-error solid $govuk-error-colour;
    padding-left: govuk-spacing(3);
    margin-bottom: 0;
  }

  .govuk-hint + .app-location-input {
    margin-top: 0;
  }
}

.app-location-input__item {
  flex: 1 1 0;
  min-width: 0;

  @include govuk-media-query($until: desktop) {
    flex: 1 1 100%;
    min-width: 100%;
  }

  @include govuk-media-query($from: desktop) {
    min-width: 280px;
  }

  .govuk-form-group,
  .govuk-form-group--error {
    margin-bottom: 0;
    display: block;
    border: 0;
    padding: 0;
  }

  .govuk-label {
    display: block;
  }

  .govuk-input {
    margin-bottom: 0;
    width: auto;
    max-width: 100%;
    box-sizing: border-box;
  }

  .govuk-input--error {
    border: 2px solid $govuk-error-colour;
  }

  .govuk-error-message {
    display: block;
    margin-bottom: govuk-spacing(3);
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
    box-sizing: border-box;
  }
}
