.DS_Store
.npm/
.vscode
.idea
node_modules
npm-debug.log
coverage
.public
.server
.src
.src.bak
package
.cache
.env
tsconfig.tsbuildinfo
docs/schemas
docs/features/components
docs/features/pages
temp-schemas

# Docusaurus
build
.docusaurus
